
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9fafe;
  padding: 20px;
}

.alerte-trafic {
  background-color: #ffdede;
  color: #a80000;
  padding: 10px;
  margin: 8px 0;
  border-left: 5px solid red;
  font-weight: bold;
  font-size: 0.95em;
}

marquee {
  background: #eef2ff;
  padding: 6px 12px;
  margin-top: 10px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.95em;
}
